# IDEA IDE
.idea/

# IPython Notebooks checkpoint
**/.ipynb_checkpoints

# Distribution / packaging
build/
dist/
sdist/
wheels/
pyepicollect.egg-info

# Virtual Environment
env/

# Cache
pyepicollect/.pytest_cache/
.pytest_cache
.cache
