# IDEA IDE
.idea/

# Jupyter staff
**/.ipynb_checkpoints

# Distribution / packaging
build/
dist/
sdist/
wheels/
pyepicollect.egg-info

# Virtual Environment
env/

# Cache
pyepicollect/.pytest_cache/
.pytest_cache